<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre: {{documentJugador.data.nombre}}</ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.nombre"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label>Apellidos: {{documentJugador.data.apellidos}} </ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.apellidos"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label>Posicion: {{documentJugador.data.posicion}}</ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.posicion"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label>Equipo: {{documentJugador.data.equipo}}</ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.equipo"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label>Dorsal: {{documentJugador.data.dorsal}}</ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.dorsal"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label>Goles Temporada: {{documentJugador.data.golesTemporada}}</ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.golesTemporada"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label>Asistencias: {{documentJugador.data.asistencias}}</ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.asistencias"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label>Partidos Jugados: {{documentJugador.data.partidosJugados}}</ion-label>
    <!-- <ion-input [(ngModel)]="estadistica.partidosJugados"></ion-input> -->
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Añadir Jugador</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar jugador</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar jugador</ion-button>
</ion-content>
