<ion-header>
  <ion-toolbar>
    <ion-title>Inserción de datos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" text="" defaultHref="home" horizontal="end" (click)="presentAlertConfirm()" *ngIf='!nuevo'>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button color="success" text="" defaultHref="home" horizontal="end" (click)="clicBotonModificar()" *ngIf='!nuevo'>
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-button color="success" text="" defaultHref="home" horizontal="end" (click)="clicBotonInsertar()" *ngIf='nuevo'>
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]='true'>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellidos</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Posicion</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.posicion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Equipo</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.equipo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dorsal</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.dorsal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Goles Temporada</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.golesTemporada"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Asistencias</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.asistencias"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Partidos Jugados</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.partidosJugados"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Foto</ion-label>
    <ion-input [(ngModel)]="documentJugador.data.foto"></ion-input>
  </ion-item>
</ion-content>
