<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estadisticas de los jugadores
    </ion-title>
        <!-- <ion-button (click)="nuevoJugador()"  slot="end" color="primary">Nuevo jugador</ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1>LISTA DE JUGADORES</h1>
  <ion-list>
    <ion-item *ngFor="let documentJugador of arrayColeccionJugadores">
      <ion-grid>
        <ion-row>
          <h2>Nombre: {{documentJugador.data.nombre}}</h2>
        </ion-row>
        <ion-row>
          <p>Apellidos: {{documentJugador.data.apellidos}}</p>
        </ion-row>
        <ion-row>
          <p>Posición: {{documentJugador.data.posicion}}</p>
        </ion-row>
        <ion-row>
          <p>Equipo: {{documentJugador.data.equipo}}</p>
        </ion-row>
        <ion-row>
          <p>Dorsal: {{documentJugador.data.dorsal}}</p>
        </ion-row>
        <ion-row>
          <p>Goles Temporada: {{documentJugador.data.golesTemporada}}</p>
        </ion-row>
        <ion-row>
          <p>Asistencias: {{documentJugador.data.asistencias}}</p>
        </ion-row>
        <ion-row>
          <p>Partidos Jugados: {{documentJugador.data.partidosJugados}}</p>
        </ion-row>
        <ion-row (click)="selecJugador(documentJugador)">
          <ion-button>Selecionar Jugador</ion-button>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" color="primary">
    <ion-fab-button (click)="nuevoJugador()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>